<section class="section">
	<div class="container">
		<h1 class="title">A Simple URL Shortener</h1>	
		<div class="field is-grouped is-grouped-multiline">
			<div class="control">
				<div class="tags has-addons">
				  <span class="tag is-dark">Github</span>
				  <span class="tag is-primary"><%= link_to "URL Shortener", "https://github.com/printfinn/url_shortener" %></span>
				</div>
			</div>

			<div class="control">
		    <div class="tags has-addons">
				  <span class="tag is-dark">Maker</span>
				  <span class="tag is-success"><%= link_to "Finn", "https://github.com/printfinn" %></span>
				</div>
			</div>
		

			<div class="control">
				<div class="tags has-addons">
				  <span class="tag is-dark">Inspired By</span>
				  <span class="tag is-info"><%= link_to "feichao@xiachufang", "https://github.com/gfreezy" %></span>
				</div>
			</div>
		</div>
		<%= link_to "Get me a short link", new_link_path, class: "button button-large is-success is-outlined is-light" %>
	</div>
</section>


