<section class="section">
  <div class="container">

    <div class="box">
      <div class="table-container">
        <table class="table is-striped is-fullwidth">
          <tbody>
            <tr>
              <th>Full Link</th>
              <td><%= @link_id.full_link %></td>
            </tr>
            <tr>
              <th>Shortened Link</th>
              <td><%= show_url_for(@link_id.shortened_link) %></td>
            </tr>
            <tr>
              <th>Click me to redirect!</th>
              <td><%= link_to "Click me", show_url_for(@link_id.shortened_link), target: "_blank", rel: 'nofollow'%></td>
            </tr>
            <tr>
              <th>ID</th>
              <td><%= @link_id.id %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</section>